.spin-loading {
    text-align: center;
    background: rgba(255, 255, 255, 0.637);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
  }

/* .dispositivo-block { 
  display: 'flex', 
  justifyContent: 'space-between', 
  background: '#ECECEC', 
  padding: '10px' 
}   */
.dispositivo-block { 
  display: 'flex'; 
  justify-content: 'space-between';
  background: rgba(255, 255, 255, 0.849);
  padding: '10px'; 
}  